<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="http://127.0.0.1:4000/">
            <h1>
                Home
            </h1>
        </a>
        <img src="{{.Image}}"><br>
      
            {{.Name}}<br>
        <strong>First Album: </strong>
        {{.FirstAlbum}}<br>
        <strong>CreationDate: </strong>
        {{.CreationDate}}<br>
        <strong> Members: </strong>
        {{range .Members}}
            {{.}}
        {{end}}<br>
        <strong> Concert Locations: </strong><br>
        {{range $location, $date := .DatesLocation}}
            {{$location}}
            {{range $date}}
                {{.}}
            {{end}}<br>
        {{end}}<br>
    </div>
</body>
</html>